body{
    max-width: 960px;
    padding: 0 4%;
    margin: 0 auto;
}

.header{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 60px;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    background-color: #393e46;
    color: white;
    /* display: flex; */
    padding: 0 20px;
    line-height: 50px;
    margin-bottom: 5px;
}

.header-nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
}

.header-nav-item:not(:last-child) {
    margin-right: 30px; }

.main-pic {
    height: 600px;
    width: 100vw;
    display: block;
    margin: 0 auto;
    margin-left: calc(-50vw + 50%);
    object-fit: cover;
}

.about{
    text-align: center;
}

.title-about{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    border-bottom: solid 1px;
    margin-bottom: 60px;
}

.about-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    text-align: left;
}

.about-text{
    text-align: left;
}

.about-pic{
    border-radius: 50%;
    width: 100px;
}

.name{
    font-weight: bold;
}

.bicycle {
    text-align: center;
    padding: 60px 0;
}

.title-bicycle {
    font-size: 30px;
    font-weight: bold;
    border-bottom: solid 2px #333;
    display: inline-block;
    margin-bottom: 60px;
}

.bicycle-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.bicycle-card {
    width: 300px;
    text-align: center;
}

.bicycle-card img {
    width: 100%;
    height: auto;
}

.bicycle-title {
    font-weight: bold;
    margin: 15px 0 5px;
}

.bicycle-text {
    font-size: 14px;
    color: #333; }

.footer{
    text-align: center;
    font-size: 10px;
}

@media screen and (max-width: 600px) {
    .bicycle-card {
        width: 100%;
    }
}